.bg-purple{
    
    background: linear-gradient(rgb(176, 39, 218), #ff1ed9);
}
.text-purple{
    background-color: rgb(176, 39, 218);
}

.bg-ping{
    /* background: linear-gradient(rgb(0, 31, 59),#ff00d4); */
    background-color: none;
    width: 100%;
    position: fixed;
    padding: 20px;
    font-size: large;
    box-shadow: none !important;
    
}